<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244429682406-hu2lfqmam563ckrclq8fdv8115nk460u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244429682406-hu2lfqmam563ckrclq8fdv8115nk460u</string>
	<key>API_KEY</key>
	<string>AIzaSyCCdEHgNQi7KvPApLmJamuAcgtZptvQhac</string>
	<key>GCM_SENDER_ID</key>
	<string>244429682406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bionicTest</string>
	<key>PROJECT_ID</key>
	<string>bionicproject1</string>
	<key>STORAGE_BUCKET</key>
	<string>bionicproject1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244429682406:ios:414114c360b7535f416d27</string>
</dict>
</plist>